@font-face {
  font-family: 'Montserrat'
}

@font-face {
  font-family: 'Open Sans'
}

body {
  background: url("radiolarians.jpeg") no-repeat
  background-position: right top; /*safe fallback*/
  background-position: calc(50% + 300px) 0rem
  background-color: #151515
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 18px

  margin: 0
}

$width {
  max-width: 1000px 
  padding: 1rem
  margin: 0 auto
}

$thirdOfWidth {
  max-width: 290px
}

$quarterOfWidth {
  max-width: 200px
}

Header {
  $width
  margin-top: 4rem
  margin-bottom: 3rem
  color: rgba(255, 255, 255, .9)

  h1 {
    font-size: 4.5rem
    font-weight: 600
  }
  div.tagline {
    font-size: 1.3rem
    margin-left: .4rem;
    margin-bottom: 1rem

    p {
      margin: .3rem 0

    }
  }
}


h1, h2, h3, h4 {
  font-family: Montserrat
  margin-bottom: .5rem
  font-weight: 500
}

a {
  color: #000
}

main {
  display: flex
  flex-direction: column
  justify-content: center
}

Value { 
  font-size: 2rem
}

$slice {
  background: #fff; /* rgba(255, 255, 255, .9); */
  color: #000
  padding: 2rem 0 6rem

  header {
    $width

    font-family: Montserrat
    font-size: 2.5rem
    font-weight: 600 
    text-align: center
  }

  section {
    $width

    display: flex
    flex-flow: wrap
    justify-content: space-around
  }
}

Love {
  $slice

  section {
    div {
      $thirdOfWidth

      header {
        height: 180px
        margin-bottom: 1rem
        background-color: #aaa

        h3 {
          color: white
          font-size: 2.4rem
          font-weight: 600
          padding-top: 0.4rem
          padding-left: 10px
        }

        -code {
          background-image: url(images/scuttleverse.png)
        }

        -humans {
          background-image: url(images/humans.png)
        }

        -process {
          background-image: url(images/process.png)
        }
      }

    }
  }
}

Work {
  $slice

  background-color: #000
  color: #fff

  section {
    padding-top: 3rem

    div.projects {
      display: flex
      flex-flow: wrap
      justify-content: space-around

      div.project {
        flex-basis: 25%
        min-width: 200px
        margin-bottom: 2rem

        a img {
          width: 200px
          height: 200px
        }
        ul {
          margin-left: -2rem
        }

        display: flex
        flex-direction: column
        align-items: center
      }
    }

  }
}

Services {
  $slice

  section {
    display: inherit
    h3 {
      font-size: 2rem
    }

  }
}

About {
  $slice

  background-color: #000
  color: #fff

  section {
    padding-top: 3rem

    div {
      flex-basis: 33%

      display: flex
      flex-direction: column
      align-items: center

      img {
        width: 200px
        height: 200px

        margin-bottom: 1rem
      }

      div.social-links {
        flex-grow: 1
        display: flex
        align-items: flex-end
        justify-content: center
        width: 100%

        a {
          flex-basis: 18%
          
          img {
            height: 36px

            margin-bottom: 1rem

          }
        }
      }
    }
  }
}

ul {
  margin-left: -2rem
}

Footer {
  $slice

  section p { 
    flex-basis: 100%
    font-size: 1.4rem
    text-align: center

    a {
      font-size: 2rem
    }
  }
}

